.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/
Package.resolved

# Android
android/.gradle/
android/build/
android/**/build/
android/local.properties
android/.idea/
android/.kotlin/
*.iml
captures/
